#header-title {
    text-align: center;
    color: gray;
}

#header-subtext {
    text-align: center;
    color: gray;
}

#empty {
    margin-top: 40px;
}

#trainCard {
    margin-left: 20px;
    margin-right: 20px;
}

#append {
    border-style: solid;
    border-left: 5px;
    border-top: 5px;
    border-right: 5px;
    border-color: black;
}

#trainCard {
    margin-bottom: 15px;
}